@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:700,400';
@import 'https://fonts.googleapis.com/css?family=Dancing+Script';
@import 'https://fonts.googleapis.com/css?family=Coustard';

/*
*  Basic Reset
*/

body {
  background-attachment: fixed;
  background-color: white;
  background-image: url(https://i.imgur.com/uVJxNoQ.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.6;
	color: #666;
}

h2 {
	line-height: 1.2;
	margin-bottom: 1.6rem;
  color: white;
}

.wrapper {
	max-width: 400px;
	margin: 50px auto;
}

/**
 * Helpers
 */
.border-tlr-radius {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
}

.card__padding {
	padding: 1.6rem;
}

.card__image {
	height: 100%;
  width: 100%;
}
	.card__image img {
    height: 200px;
		width: 200px;
		display: block;
	}

.card__content {
	position: relative;
  background-color: #eee;
  font-family: 'Coustard', serif;
}


/* card article */
.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}
	.card__article a:hover {
		color: #2980b9;
	}

/* card action */
.card__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}

.card__author {}

	.card__author img,
	.card__author-content {
		display: inline-block;
		vertical-align: middle;
	}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}


.share-toggle {
	z-index: 2;
}

#nav-tabs {
  padding-top: 10px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

#sign-in-div, #sign-up-div {
  font-family: 'Coustard', serif;
  padding-top: 75px;
  margin: 30px;
  color: white;
}

.nav-link {
  font-family: 'Coustard', serif;
  color: white;
}

.nav-tabs{
  background-color:#161616;
  width: 100vw;
}

.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border-radius: 0;
    color:#fff;
}

.navbar {
  width: 100vw;
}

#addRoutine, #edit-routine, #show-routine {
  font-family: 'Coustard', serif;
  color: white;
}

#changePasswordModal, #confirmDeleteModal {
  font-family: 'Coustard', serif;
}

.edit-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.show-routine-card {
  padding-top: 20px;
  padding-bottom: 20px;
}
